.page-header {
	background-color: #ff9400;
	margin-top: 0;
	padding: 20px 10px 20px 20px;
	width: 75%;
	margin: auto;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
	color: #ffffff;
	font-size: 36pt;
	text-decoration: none;
}

#newPost {
	color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

h1, h2, h3, h4 {
    font-family: 'Oleo Script', Helvetica, sans-serif;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
	text-decoration: none;
}

.date, .author {
    color: #828282;
	float: right;
	margin-right: 40px;
}

.post-form {
	width: 100%;
}

.content {
	padding: 20px;
	background-color: peachpuff;
	width: 75%;
	margin: auto;
	margin-top: 10px;
}

.post {
	margin-bottom: 70px;
}

