<html>

<head>
<title>Keleiron's Blog</title>
</head>

<body>
	<div>
		<h1><a href="">Keleiron's Blog</a></h1>
	</div>
	
	<div>
		<p>published: 04/8/17, 8:47pm</p>
		<h2><a href="">My first post</a></h2>
		<p>Blah blah blah blah blah blah and more blah and stuff like blah blah blah, lol xD</p>
	</div>
	
	<div>
		<p>published: 04/7/17, 2:47am</p>
		<h2><a href="">My second post</a></h2>
		<p>Blah blah blah blah blah blah and more blah and stuff like blah blah blah, lol xD</p>
	</div>
	
</body>

</html>